.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 40%;
}

.login__span {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  text-decoration: none;
}

.login__link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
