.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  gap: 1rem;
}

.main__form {
  display: flex;
  flex-direction: column;
}

.main__form input {
  padding: 8px;
}

.main__content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.main__loading {
  display: flex;
  flex-direction: column;
}
