.card__wrapper {
  display: flex;
  flex-direction: column;
}

.card__wrapper img {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.card__bottom {
  background-color: gainsboro;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.card__like {
  background-color: gainsboro;
  display: flex;
  margin: 3px 0 3px 12px;
  transition: 0.5s;
  cursor: pointer;
}

.card__button {
  background-color: gainsboro;
  border: none;
}

.card__like:hover {
  background-color: red;
  transition: 0.1s;
}
