.card__wrapper {
  display: flex;
  flex-direction: column;
}

.card__wrapper img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(147, 147, 147);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card__like {
  background-color: rgb(147, 147, 147);
  display: flex;
  transition: 0.5s;
  cursor: pointer;
}

.card__button {
  background-color: rgb(147, 147, 147);
  border: none;
}

.card__like:hover {
  border-radius: 50%;
  background-color: red;
  transition: 0.1s;
}
